<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <title>Super Bowl Squares</title>
    <script type="text/javascript" src="../js/d3.v3.js"></script>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/superbowl_base.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
</head>
<body class="">
<div class="login">
    <div class="team-info">
        <ul class="team">
            <li class="logo-container">
                <img class="logo" src="https://cdn.gomix.com/55dbb2a4-94d9-434f-9dcc-1432c975de1c%2Flogo_team1.png"/>
            </li>
        </ul>
        <ul class="team">
            <li class="logo-container">
                <img class="logo"  src="https://cdn.gomix.com/55dbb2a4-94d9-434f-9dcc-1432c975de1c%2Flogo_team2.png"/>
            </li>
        </ul>
    </div>

    <div class="title">
        <p>bienvenidos a toca boulins 2017</p>
    </div>

    <p class="countdown">entra con twitter y marca casillas</p>

    <a class="login-button">
        <img src="https://cdn.gomix.com/55dbb2a4-94d9-434f-9dcc-1432c975de1c%2Flogin-with-twitter.png"/>
    </a>
</div>

<footer>
  <p>
    <a href="https://gomix.com/#!/remix/telling-scale/55dbb2a4-94d9-434f-9dcc-1432c975de1c">
      <img src="https://gomix.com/images/background-light/remix-on-gomix.svg">
    </a>
  </p>
  <p>
    <a href="https://gomix.com/#!/project/telling-scale">
      Ver cdg
    </a>
  </p>
</footer>

</body>
</html>